<?xml version="1.0" ?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Beberlei Metrics">
            <directory>./src/Beberlei/Bundle/MetricsBundle/Tests</directory>
            <directory>./src/Beberlei/Metrics/Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
            <exclude>
                <directory>./src/Beberlei/Bundle/MetricsBundle/Tests</directory>
                <directory>./src/Beberlei/Metrics/Tests/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
